<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/edu.css">
    <title>Hoja de vida</title>
</head>
<body>
    <div class="menu">
        <%- include('../templates/nav'); %>
    </div>
   
    <h1>JULIANA ANDREA MELO GUERRERO</h1>
    <h2>TÉCNICA EN PROGRAMACIÓN DE SOFTWARE</h2>
    <img src="/img/fotoC.jpeg">
    <h1 class="titu"><i class="fa-solid fa-graduation-cap"></i>Educación</h1>

    <div class="cards">
        <div class="card">
            <h4>Tecnólogo en Análisis y Desarrollo de
                Sistemas de Información</h4>
            <h5>Feb 2022 - Junio 2023</h5>
            <P>Actualmente estoy realizando un Tecnólogo en Análisis y
                Desarrollo de Sistemas de Información en el SENA, en donde
                estoy desarrollando un sistema de información para Refugio
                Crepe con mi equipo de trabajo, para presentar en diciembre
                enfocándonos en el módulo de Adopciones.</P>
        </div>
        <div class="card">
            <h4>Colegio Claretiano de Bosa</h4>
            <h5>2019 - 2021</h5>
            <p>
                Mi desempeño académico y convivencial fue excelente,
                participe activamente en diversas presentaciones de teatro lo
                cual me ayudo a dejar atrás la timidez e incentivo en la
                automotivación.
                Además, ingrese al programa de formación “Técnico en
                programación de Software” el cual está vinculado con el SENA
                en donde desarrollé más la cualidad de la creatividad y aprendí
                distintos lenguajes de programación (HTML, CSS, PHP, JS).
                Finalmente, me gradue con honores como bachiller academico
                en 2021.
            </p>
        </div>
        <div class="card">
            <h4>Colegio Mixto Ciudadanosdel Futuro</h4>
            <h5>2010 - 2018</h5>
            <p>
                Sobresalí en cuanto a mi edad ya que entré a la institución
                desde los 3 años sabiendo leer y obteniendo muy buenos
                resultados a nivel académico; además participe activamente en
                distintas presentaciones y todos los años obtuve menciones de
                honor.
            </p>

        </div>
    </div>
    <footer class="footer">
        <%- include('../templates/footer'); %>
    </footer>
  
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
</body>

</html>