<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../css/hobbies.css">
   
   
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="."><i class="fa-solid fa-house"></i> Inicio</a> </li>
            <li><a href="/Educacion"><i class="fa-solid fa-graduation-cap"></i> Educación</a></li>
            <li><a href="/Hobbies"> <i class="fa-solid fa-music"></i> Hobbies</a></li>
            <li><a href="/Contacto"><i class="fa-solid fa-address-book"></i> Contacto</a></li>
        </ul>
    </div>
    <div class="card" id="hobbies">
        <div class="cont1">
            <h1>JULIANA ANDREA MELO GUERRERO</h1>
            <h2>TÉCNICA EN PROGRAMACIÓN DE SOFTWARE</h2>
            <img src="../img/fotoC.jpeg">
        </div>
        <div class="cont2">
        <h3>Hobbies</h3>
        <ul>
            <li><i class="fa-solid fa-utensils"></i> Cocinar</li>
            <li><i class="fa-sharp fa-solid fa-palette"></i> Arte en uñas</li>
            <li><i class="fa-solid fa-book"></i> Leer</li>
            <li><i class="fa-solid fa-location-dot"></i> Viajar </li>
            <li><i class="fa-solid fa-reel"></i> Coser</li>
            <li><i class="fa-solid fa-pen"></i> Escribir lettering</li>
            <li><i class="fa-solid fa-user-hair"></i></i> Peinar</li>
        </ul>
    </div>
  

    </div>
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
</body>
</html>