<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/hobbies.css">
    <title>Hoja de vida</title>
</head>

<body>
    <nav>
        <%- include('../templates/nav'); %>
    </nav>

    <div class="card" id="hobbies">
        <div class="cont1">
            <h1>JULIANA ANDREA MELO GUERRERO</h1>
            <h2>TÉCNICA EN PROGRAMACIÓN DE SOFTWARE</h2>
            <img src="/img/fotoC.jpeg">
        </div>
        <div class="cont2">
            <h3>Hobbies</h3>
            <ul>
                <li><i class="fa-solid fa-utensils"></i> Cocinar</li>
                <li><i class="fa-sharp fa-solid fa-palette"></i> Arte en uñas</li>
                <li><i class="fa-solid fa-book"></i> Leer</li>
                <li><i class="fa-solid fa-location-dot"></i> Viajar </li>
                <li><i class="fa-solid fa-reel"></i> Coser</li>
                <li><i class="fa-solid fa-pen"></i> Escribir lettering</li>
                <li><i class="fa-solid fa-user-hair"></i></i> Peinar</li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <%- include('../templates/footer'); %>
    </footer>
    
    <script src="https://kit.fontawesome.com/6131ecdde6.js"></script>
 
    
</body>


</html>