body{
    background: url(../img/fondoMan.png);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: 8rem;
    border-radius: 50%;
    -webkit-box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
-moz-box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
}

.menu {
    display: flex;
    justify-content: end;
}

.menu ul li{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18.5px;
    font-weight:bold;
    padding: 1rem;
    text-shadow:  1px 1px rgba(115, 113, 113, 0.418);
}

.menu a:hover{
    background-color: rgba(150, 214, 155, 0.15);
    border-radius: 30px;
    font-weight:500;
}

h1 {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

h2{
    font-weight: bolder;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}



.card{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    border-radius: 7px;
    width: 29%;
    margin: 1rem;
    padding: 0.7rem;
    -webkit-box-shadow: -3px -2px 12px -6px rgba(0,0,0,0.47);
    -moz-box-shadow: -3px -2px 12px -6px rgba(0,0,0,0.47);
    box-shadow: -3px -2px 12px -6px rgba(0,0,0,0.47);
}

.card p{
    font-family: 'Lato', sans-serif;
    color: rgb(149 138 138);
    letter-spacing: 0.5x;
    font-stretch:expanded;
}


.titu{
    text-align: center;
    color: #0f9821;
    font-size: 2.5rem;
}