body{
    background: url(../img/fondoMan.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

img {
    margin: auto ;
    width: 12rem;
    border-radius: 50%;
    display: flex;
    -webkit-box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
-moz-box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
}

.menu {
    display: flex;
    justify-content: end;
}

.menu ul li{
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18.5px;
    font-weight:bold;
    padding: 1rem;
    text-shadow:  1px 1px rgba(115, 113, 113, 0.418);
}

.menu a:hover{
    background-color: rgba(150, 214, 155, 0.232);
    border-radius: 30px;
    font-weight:500;
}

.card {
    margin-bottom: 18rem;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    border-radius: 7px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.7rem;
    -webkit-box-shadow: -3px -2px 12px -6px rgb(0 0 0 / 47%);
    -moz-box-shadow: -3px -2px 12px -6px rgba(0,0,0,0.47);
    box-shadow: -3px -2px 12px -6px rgb(0 0 0 / 47%);
    display: flex;
    margin-top: 9rem;
}

.cont2{
    font-family: 'Lato', sans-serif;
    color: rgb(79, 73, 73);
    letter-spacing: 0.5x;
    font-stretch:expanded;
    width: 67%;
   
}

h3{
    color: #0f9821;
    font-size: 1.9rem;
}

.cont2 li{
    font-size: 1.3rem;
}
img {
    width: 8rem;
    border-radius: 50%;
    -webkit-box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
-moz-box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
box-shadow: -3px -2px 12px -3px rgba(0,0,0,0.47);
}

h1 {
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    color: rgb(79, 73, 73);
    letter-spacing: 0.5x;
    font-stretch:expanded;
    font-size: 1.5rem;
    font-weight: lighter;
}

h2{
    font-weight: bolder;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: rgb(79, 73, 73);
    letter-spacing: 0.5x;
    font-stretch:expanded;
    font-weight: lighter;
}


footer{
    background: url(../img/fondo.png);
    padding: 0.3rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.footer li{
   list-style: none;
}
