<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/juliana/"><i class="fa-solid fa-house"></i> Inicio</a> </li>
            <li><a href="/juliana/#experiencia"><i class="fa-sharp fa-solid fa-briefcase"></i> Experiencia laboral</a></li>
            <li><a href="/juliana/Educacion"><i class="fa-solid fa-graduation-cap"></i> Educación</a></li>
            <li><a href="/juliana/#competencias"> <i class="fa-solid fa-language"></i> Competencias</a></li>
            <li><a href="/juliana/Hobbies"> <i class="fa-solid fa-music"></i> Hobbies</a></li>
            <li><a href="/juliana/Contacto"><i class="fa-solid fa-address-book"></i> Contacto</a></li>
        </ul>
    </div>
</body>
</html>